# Data
data/.trash/
data/raw_large/
*.xlsx
*.hwpx

# Firebase / Secrets
sesi-ea958-*.json
*.json
!public/api/sesi_index.json
.env

# Python
__pycache__/
*.py[cod]
*$py.class
env/
venv/
.env

# SESI API
public/api/sesi_index.json

# IDE
.vscode/
.idea/
